/* purgecss start ignore  */
.fade {
  &-enter-active,
  &-leave-active {
    transition: all .3s cubic-bezier(.55, 0, .1, 1);
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}
.layout, .page {
  &-enter-active,
  &-leave-active {
    transition: all .3s cubic-bezier(.55, 0, .1, 1);
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}
/* purgecss end ignore */
